In [1]:
import pandas as pd
import numpy as np
import re

In [3]:
data = pd.read_csv("data/findamasters_usa_raw_jun1_2021.csv")
data.head()

,title,institute,department,label
0,Data Analytics Engineering (MS),George Mason University,Graduate Programmes,"Online,Part Time,Full Time"
1,MS in Data Science,George Washington University,Columbian College of Arts and Sciences,"Institution Profile,On Campus,Part Time,Full ..."
2,MS in Data Analytics and Policy,Johns Hopkins University,Advanced Academic Programs,"Online,Part Time,Full Time"
3,Data Analytics (MSc),George Washington University,School of Engineering and Applied Sciences,"Institution Profile,On Campus,Part Time,Full ..."
4,MS in Data Science,University of San Francisco,College of Arts and Sciences,"Video(s),On Campus,Full Time"

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       77 non-null     object
 1   institute   77 non-null     object
 2   department  77 non-null     object
 3   label       77 non-null     object
dtypes: object(4)
memory usage: 2.5+ KB

In [4]:
KEYWORDS = ['data', 'analysis', 'analytics', 'machine learning', 'ml', 'artificial intelligence', 'intelligence', 'statistics']

In [7]:
def keyword_present(x):

    if (any(word in x.lower() for word in KEYWORDS)):
        return 1
    return 0

def fulltime(x):

    if 'full time' in x.lower():
        return 1
    return 0

def campus(x):

    if 'campus' in x.lower():
        return 1
    return 0

data['keyword_present'] = data['title'].apply(keyword_present)
data['fulltime_available'] = data['label'].apply(fulltime)
data['campus_available'] = data['label'].apply(campus)

In [8]:
data.head()

,title,institute,department,label,keyword_present,fulltime_available,campus_available
0,Data Analytics Engineering (MS),George Mason University,Graduate Programmes,"Online,Part Time,Full Time",1,1,0
1,MS in Data Science,George Washington University,Columbian College of Arts and Sciences,"Institution Profile,On Campus,Part Time,Full ...",1,1,1
2,MS in Data Analytics and Policy,Johns Hopkins University,Advanced Academic Programs,"Online,Part Time,Full Time",1,1,0
3,Data Analytics (MSc),George Washington University,School of Engineering and Applied Sciences,"Institution Profile,On Campus,Part Time,Full ...",1,1,1
4,MS in Data Science,University of San Francisco,College of Arts and Sciences,"Video(s),On Campus,Full Time",1,1,1

In [9]:
qualified = data[(data.keyword_present == 1) & (data.fulltime_available == 1) & (data.campus_available == 1)].reset_index(drop=True)

In [12]:
qualified.head()

,title,institute,department,label,keyword_present,fulltime_available,campus_available
0,MS in Data Science,George Washington University,Columbian College of Arts and Sciences,"Institution Profile,On Campus,Part Time,Full ...",1,1,1
1,Data Analytics (MSc),George Washington University,School of Engineering and Applied Sciences,"Institution Profile,On Campus,Part Time,Full ...",1,1,1
2,MS in Data Science,University of San Francisco,College of Arts and Sciences,"Video(s),On Campus,Full Time",1,1,1
3,Master of Science in Business Analytics,Georgetown University,Professional Studies,"Online,On Campus,Part Time,Full Time",1,1,1
4,Data Science MS,Rochester Institute of Technology USA,Masters Programs,"Institution Profile,Video(s),Student Profile(...",1,1,1

In [13]:
# drop the columns that were created only for filtering purposes
qualified = qualified.drop(['keyword_present', 'fulltime_available', 'campus_available', 'label'], axis=1)

In [16]:
qualified = qualified.drop_duplicates()

In [17]:
qualified.head()

,title,institute,department
0,MS in Data Science,George Washington University,Columbian College of Arts and Sciences
1,Data Analytics (MSc),George Washington University,School of Engineering and Applied Sciences
2,MS in Data Science,University of San Francisco,College of Arts and Sciences
3,Master of Science in Business Analytics,Georgetown University,Professional Studies
4,Data Science MS,Rochester Institute of Technology USA,Masters Programs

In [18]:
qualified.to_csv('data/findamasters_usa_filtered_jun1_2021.csv', index=False)