In [1]:
import pandas as pd

In [37]:
data = pd.read_csv('data/studyportalsmasters_usa_raw_jun2_2021.csv')

In [38]:
data = data.drop_duplicates()

In [39]:
data.head()

,title,degree,school,location,price,duration,label
0,Analytics,M.Sc.,"Kogod School of Business, American University ...","Washington, D. C., Washington, D.C., United St...","1,481 EUR / credit",1 year,M.Sc. Full-time Part-time
1,Masters in Business Analytics,M.Sc.,Hult International Business School,"San Francisco, California, United States","38,827 EUR / year",1 year,M.Sc. Full-time Part-time
2,Computer Science,M.Sc.,University of Missouri–St. Louis,"Saint Louis, Missouri, United States","18,226 EUR / year",1½ years,M.Sc. Full-time
3,Computer Science - Data Science,M.Sc.,Contemporary Technology University,Online,"4,904 EUR / year",1 year,M.Sc. Full-time Part-time Blended Learning
4,Customer Intelligence and Analytics,M.Sc.,Pace University,"New York City, New York, United States","1,099 EUR / credit",1 year,M.Sc. Full-time

In [40]:
KEYWORDS = ['data', 'analysis', 'analytics', 'machine learning', 'ml', 'artificial intelligence', 'intelligence', 'statistics']

In [41]:
def keyword_present(x):

    if (any(word in x.lower() for word in KEYWORDS)):
        return 1
    return 0

data['keyword_present'] = data['title'].apply(keyword_present)

In [50]:
qualified = data[data['keyword_present'] == 1]
qualified = qualified[qualified['location'] != 'Online']

In [51]:
qualified = qualified.drop(['label', 'keyword_present'], axis=1)

In [52]:
qualified = qualified.fillna('missing')

In [53]:
qualified.shape

(173, 6)

In [54]:
qualified.head()

,title,degree,school,location,price,duration
0,Analytics,M.Sc.,"Kogod School of Business, American University ...","Washington, D. C., Washington, D.C., United St...","1,481 EUR / credit",1 year
1,Masters in Business Analytics,M.Sc.,Hult International Business School,"San Francisco, California, United States","38,827 EUR / year",1 year
4,Customer Intelligence and Analytics,M.Sc.,Pace University,"New York City, New York, United States","1,099 EUR / credit",1 year
5,Data Science,Full-time,University of Maryland Baltimore County (UMBC),"Baltimore Highlands, Maryland, United States",925 EUR / credit,1 year
6,Data Science,M.Sc.,South Dakota State University,"Brookings, South Dakota, United States",530 EUR / credit,2 years

In [56]:
qualified.to_csv('data/studyportalsmasters_usa_filtered_jun2_2021.csv', index=False)