In [2]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import time
import json
import pandas as pd
import numpy as np
import random

import warnings
warnings.filterwarnings('ignore')

## Specialization: Data science and big data

In [3]:
URL = 'https://www.mastersportal.com/search/#q=ci-82|di-282|lv-master|dur-[360,360],[540,540],[720,720],[721,-1]|de-fulltime|mh-face2face,blended|tc-EUR'

# lots of filters possible

https://www.mastersindatascience.org/

Try this link too!

In [99]:
# open the URL using the selenium driver
driver = webdriver.Chrome("chromedriver_win32/chromedriver.exe")
driver.get(URL)
time.sleep(5)
print("Opened home webpage")

Opened home webpage

In [100]:
programs = []
num_pages = 18
for page in range(1, num_pages+1):

    soup = BeautifulSoup(driver.page_source, 'html.parser')
    progs = soup.find_all('section', class_='InformationContainer')

    program = [prog for prog in progs]
    programs += program

    if page != (num_pages-1):
        # next page
        print(f'Printing page {page}')
        # click on next button
        next_btn_xpath = '//*[@id="ResultsPagination"]/div/nav/ul/li[10]/button'
        btn = driver.find_element_by_xpath(next_btn_xpath)
        driver.execute_script("arguments[0].click();", btn)
        time.sleep(5)
        print('Process complete')
    print("Moving to next page")

Printing page 1
Process complete
Moving to next page
Printing page 2
Process complete
Moving to next page
Printing page 3
Process complete
Moving to next page
Printing page 4
Process complete
Moving to next page
Printing page 5
Process complete
Moving to next page
Printing page 6
Process complete
Moving to next page
Printing page 7
Process complete
Moving to next page
Printing page 8
Process complete
Moving to next page
Printing page 9
Process complete
Moving to next page
Printing page 10
Process complete
Moving to next page
Printing page 11
Process complete
Moving to next page
Printing page 12
Process complete
Moving to next page
Printing page 13
Process complete
Moving to next page
Printing page 14
Process complete
Moving to next page
Printing page 15
Process complete
Moving to next page
Printing page 16
Process complete
Moving to next page
Moving to next page
Printing page 18
Process complete
Moving to next page

In [101]:
len(programs)

180

In [102]:
# raw
title = [program.h3.text for program in programs]
loc = [program.select('.LocationFact') for program in programs]
price_dur = [program.select('.KeyFact') for program in programs]
labels = [program.select('.ExtraFacts')[0].text for program in programs]

# processed
title = [t.strip() for t in title]
label = [l.strip() for l in labels]
degree = [l.split()[0] for l in labels]
school = [l[0].text.strip() for l in loc]
location = [l[1].text.strip() for l in loc]
price = [p[0].text.strip() for p in price_dur]
duration = [p[1].text.strip() for p in price_dur]

In [104]:
temp_df = pd.DataFrame(
    dict(
        title = title,
        degree = degree,
        school = school,
        location = location,
        price = price,
        duration = duration,
        label = label
    )
)

In [108]:
temp_df

,title,degree,school,location,price,duration,label
0,Analytics,M.Sc.,"Kogod School of Business, American University ...","Washington, D. C., Washington, D.C., United St...","1,481 EUR / credit",1 year,M.Sc. Full-time Part-time
1,Masters in Business Analytics,M.Sc.,Hult International Business School,"San Francisco, California, United States","38,827 EUR / year",1 year,M.Sc. Full-time Part-time
2,Computer Science,M.Sc.,University of Missouri–St. Louis,"Saint Louis, Missouri, United States","18,226 EUR / year",1½ years,M.Sc. Full-time
3,Computer Science - Data Science,M.Sc.,Contemporary Technology University,Online,"4,904 EUR / year",1 year,M.Sc. Full-time Part-time Blended Learning
4,Customer Intelligence and Analytics,M.Sc.,Pace University,"New York City, New York, United States","1,099 EUR / credit",1 year,M.Sc. Full-time
...,...,...,...,...,...,...,...
175,Data Science,M.Sc.,George Washington University,"Washington, D. C., Washington, D.C., United St...","1,492 EUR / credit",1 year,M.Sc. Full-time
176,Data Analytics and Business Computing,M.Sc.,New York University,Multiple locations,"49,378 EUR / year",1 year,M.Sc. Full-time
177,Data Science and Analytics with Emphasis in Hu...,M.Sc.,University of Missouri - Columbia,"Columbia, Missouri, United States","19,873 EUR / year",1 year,M.Sc. Full-time Blended Learning
178,Computational Data Science,M.Sc.,Temple University,"Philadelphia, Pennsylvania, United States","1,238 EUR / credit",1 year,M.Sc. Full-time Part-time
179,Data Science and Analytics with Emphasis in Hi...,M.Sc.,University of Missouri - Columbia,"Columbia, Missouri, United States","19,873 EUR / year",1 year,M.Sc. Full-time Blended Learning

In [109]:
driver.quit()

## Specialization: Artitifical Intelligence

In [110]:
URL = 'https://www.mastersportal.com/search/#q=ci-82|de-fulltime|di-330|dur-[360,360],[540,540],[720,720],[721,-1]|lv-master|mh-face2face,blended|tc-EUR'

In [111]:
# open the URL using the selenium driver
driver = webdriver.Chrome("chromedriver_win32/chromedriver.exe")
driver.get(URL)
time.sleep(5)
print("Opened home webpage")

Opened home webpage

In [112]:
programs = []
num_pages = 15
for page in range(1, num_pages+1):

    soup = BeautifulSoup(driver.page_source, 'html.parser')
    progs = soup.find_all('section', class_='InformationContainer')

    program = [prog for prog in progs]
    programs += program

    if page != (num_pages-1):
        # next page
        print(f'Printing page {page}')
        # click on next button
        next_btn_xpath = '//*[@id="ResultsPagination"]/div/nav/ul/li[10]/button'
        btn = driver.find_element_by_xpath(next_btn_xpath)
        driver.execute_script("arguments[0].click();", btn)
        time.sleep(5)
        print('Process complete')
    print("Moving to next page")

Printing page 1
Process complete
Moving to next page
Printing page 2
Process complete
Moving to next page
Printing page 3
Process complete
Moving to next page
Printing page 4
Process complete
Moving to next page
Printing page 5
Process complete
Moving to next page
Printing page 6
Process complete
Moving to next page
Printing page 7
Process complete
Moving to next page
Printing page 8
Process complete
Moving to next page
Printing page 9
Process complete
Moving to next page
Printing page 10
Process complete
Moving to next page
Printing page 11
Process complete
Moving to next page
Printing page 12
Process complete
Moving to next page
Printing page 13
Process complete
Moving to next page
Moving to next page
Printing page 15
Process complete
Moving to next page

In [113]:
len(programs)

150

In [115]:
# raw
title = [program.h3.text for program in programs]
loc = [program.select('.LocationFact') for program in programs]
price_dur = [program.select('.KeyFact') for program in programs]
labels = [program.select('.ExtraFacts')[0].text for program in programs]

# processed
title = [t.strip() for t in title]
label = [l.strip() for l in labels]
degree = [l.split()[0] for l in labels]
school = [l[0].text.strip() for l in loc]
location = [l[1].text.strip() for l in loc]
price = [p[0].text.strip() for p in price_dur]
duration = [p[1].text.strip() for p in price_dur]

In [116]:
temp_df2 = pd.DataFrame(
    dict(
        title = title,
        degree = degree,
        school = school,
        location = location,
        price = price,
        duration = duration,
        label = label
    )
)

temp_df2.head()

,title,degree,school,location,price,duration,label
0,Computer Science - AI and Machine Learning,M.Sc.,Contemporary Technology University,Online,"4,904 EUR / year",1 year,M.Sc. Full-time Part-time Blended Learning
1,Robotics and Autonomy,M.Sc.,Drexel University College of Engineering,"Philadelphia, Pennsylvania, United States","1,097 EUR / credit",2 years,M.Sc. Full-time
2,Applied Machine Intelligence,Full-time,Northeastern University,"Boston, Massachusetts, United States","16,593 EUR / year",2 years,Full-time Part-time Online
3,Human Resources Management,M.Sc.,Northeastern University,"Boston, Massachusetts, United States","18,527 EUR / year",1½ years,M.Sc. Full-time Part-time Online
4,Computer Science - Software Development,M.Sc.,Marist College,"Poughkeepsie, New York, United States",695 EUR / credit,1 year,M.Sc. Full-time Part-time Blended Learning

In [118]:
driver.quit()

## Specialization: Machine learning

In [117]:
URL = 'https://www.mastersportal.com/search/#q=ci-82|de-fulltime|di-331|dur-[360,360],[540,540],[720,720],[721,-1]|lv-master|mh-face2face,blended|tc-EUR'

In [121]:
# open the URL using the selenium driver
driver = webdriver.Chrome("chromedriver_win32/chromedriver.exe")
driver.get(URL)
time.sleep(5)
print("Opened home webpage")

Opened home webpage

In [122]:
programs = []
num_pages = 14
for page in range(1, num_pages+1):

    soup = BeautifulSoup(driver.page_source, 'html.parser')
    progs = soup.find_all('section', class_='InformationContainer')

    program = [prog for prog in progs]
    programs += program

    if page != (num_pages-1):
        # next page
        print(f'Printing page {page}')
        # click on next button
        next_btn_xpath = '//*[@id="ResultsPagination"]/div/nav/ul/li[10]/button'
        btn = driver.find_element_by_xpath(next_btn_xpath)
        driver.execute_script("arguments[0].click();", btn)
        time.sleep(5)
        print('Process complete')
    print("Moving to next page")

Printing page 1
Process complete
Moving to next page
Printing page 2
Process complete
Moving to next page
Printing page 3
Process complete
Moving to next page
Printing page 4
Process complete
Moving to next page
Printing page 5
Process complete
Moving to next page
Printing page 6
Process complete
Moving to next page
Printing page 7
Process complete
Moving to next page
Printing page 8
Process complete
Moving to next page
Printing page 9
Process complete
Moving to next page
Printing page 10
Process complete
Moving to next page
Printing page 11
Process complete
Moving to next page
Printing page 12
Process complete
Moving to next page
Moving to next page
Printing page 14
Process complete
Moving to next page

In [123]:
len(programs)

140

In [124]:
# raw
title = [program.h3.text for program in programs]
loc = [program.select('.LocationFact') for program in programs]
price_dur = [program.select('.KeyFact') for program in programs]
labels = [program.select('.ExtraFacts')[0].text for program in programs]

# processed
title = [t.strip() for t in title]
label = [l.strip() for l in labels]
degree = [l.split()[0] for l in labels]
school = [l[0].text.strip() for l in loc]
location = [l[1].text.strip() for l in loc]
price = [p[0].text.strip() for p in price_dur]
duration = [p[1].text.strip() for p in price_dur]

In [125]:
temp_df3 = pd.DataFrame(
    dict(
        title = title,
        degree = degree,
        school = school,
        location = location,
        price = price,
        duration = duration,
        label = label
    )
)

temp_df3.head()

,title,degree,school,location,price,duration,label
0,Computer Science - AI and Machine Learning,M.Sc.,Contemporary Technology University,Online,"4,904 EUR / year",1 year,M.Sc. Full-time Part-time Blended Learning
1,Two Year Master of Business Administration,M.B.A.,Babson College,Multiple locations,"46,826 EUR / year",2 years,M.B.A. Full-time
2,Applied Machine Intelligence,Full-time,Northeastern University,"Boston, Massachusetts, United States","16,593 EUR / year",2 years,Full-time Part-time Online
3,Data Science,Full-time,University of Maryland Baltimore County (UMBC),"Baltimore Highlands, Maryland, United States",925 EUR / credit,1 year,Full-time
4,"Chemical Engineering (Modeling, Simulation and...",M.Eng.,University at Buffalo SUNY - School of Enginee...,"Buffalo, New York, United States","18,882 EUR / year",1 year,M.Eng. Full-time Part-time

In [126]:
driver.quit()

## Combine data

In [129]:
combined = pd.concat([temp_df, temp_df2, temp_df3])
combined.head()

,title,degree,school,location,price,duration,label
0,Analytics,M.Sc.,"Kogod School of Business, American University ...","Washington, D. C., Washington, D.C., United St...","1,481 EUR / credit",1 year,M.Sc. Full-time Part-time
1,Masters in Business Analytics,M.Sc.,Hult International Business School,"San Francisco, California, United States","38,827 EUR / year",1 year,M.Sc. Full-time Part-time
2,Computer Science,M.Sc.,University of Missouri–St. Louis,"Saint Louis, Missouri, United States","18,226 EUR / year",1½ years,M.Sc. Full-time
3,Computer Science - Data Science,M.Sc.,Contemporary Technology University,Online,"4,904 EUR / year",1 year,M.Sc. Full-time Part-time Blended Learning
4,Customer Intelligence and Analytics,M.Sc.,Pace University,"New York City, New York, United States","1,099 EUR / credit",1 year,M.Sc. Full-time

In [130]:
combined.to_csv('data/studyportalsmasters_usa_raw_jun2_2021.csv', index=False)